<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.br.spring.dto.AttachDto" alias="AttachDto" />
		<typeAlias type="com.br.spring.dto.BoardDto" alias="BoardDto"/>
		<typeAlias type="com.br.spring.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="com.br.spring.dto.ReplyDto" alias="ReplyDto"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml" />
	</mappers>
</configuration>
