@charset "UTF-8";
div{box-sizing: border-box;}
        #header{
            width:80%;
            height:100px;
            padding-top: 20px;
            margin:auto;
        }
        #header>div{width:100%; margin-bottom:10px}
        #header_1{height:40%;}
        #header_2{height:60%;}

        #header_1>div{
            height:100%;
            float:left;
        }
        #header_1_left{width:30%;position:relative;}
        #header_1_center{width:40%;}
        #header_1_right{width:30%;}

        #header_1_left>img{height:80%;position:absolute;margin:auto;top:0;bottom:0;right: 0;left:0;}
        #header_1_right{text-align: center; line-height:35px; font-size: 12px; text-indent: 35px;}
        #header_1_right>a{margin: 5px;}
        #header_1_right>a:hover{cursor: pointer;}
        #header_1_right img{width:30px; height:30px; border:0.5px solid lightgray; border-radius: 50%;}
        
        #header_2>ul{width:100%; height:100%; list-style-type: none; margin: auto; padding:0;}
        #header_2>ul>li{float:left; width:33%; height:100%; line-height: 55px; text-align:center;}
        #header_2>ul>li a{text-decoration: none; color:black; font-size: 18px; font-weight: 900;}

        #header_2{border-top:1px solid lightgray}

        #header a{text-decoration:none; color:black}
        
        /* 세부 페이지마다 공통적으로 유지할 style */
        .content{
            background-color:rgb(247, 245, 245);
            width:80%;
            margin:auto;
        }
        .innerOuter{
            border:1px solid lightgray;
            width:80%;
            margin:auto;
            padding:5% 10%;
            background:white;
                min-height:500px;
        }
         /* div{border:1px solid red;} */
        #footer{
            width:80%;
            height:200px;
            margin:auto;
            margin-top:50px;
        }
        #footer-1{
            width:100%;
            height:20%;
            border-top:1px solid lightgray;
            border-bottom:1px solid lightgray;
        }
        #footer-2{width:100%;height:80%;}
        #footer-1, #footer-2{padding-left:50px}
        #footer-1 > a{
            text-decoration:none;
            font-weight: 600;
            margin:10px;
            line-height: 40px;
            color: black;
        }
        #footer-2>p{
            margin: 0;
            padding:10px;
            font-size: 13px;
        }
        #p2{text-align:center;}